html, body {
    width: 100%;
    height: 100%;
    
}

// ****COLORS FOR THIS PROJECT****
// DARK GREEN #1A535C
// MEDIUM TURQUIOSE #4ECDC4
// MINT CREAM #F7FFF7
// PASTEL RED #FF6B6B
// MAIZE (CORN YELLOW) #FFE66D
//rgb(255, 99, 125);


.game {
    height: 150vh;
    width: 100%;
    background: rgb(255, 237, 237);
    
    &__win {
        height: 150vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background: rgba(0, 0, 0, 0.514);
        display: none;
        
        &__container {
            border-radius: 10px;
            box-shadow: 0px 8px 8px 2px #1d1d1d79;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: white;
            button {
                background: rgb(255, 99, 125);
                color: white;
                border: none;
                border-radius: 2px;
                box-shadow: 0px 8px 8px 2px #1d1d1d79;
            }
        }
    }
    .game-over {
        display: inline;
    }
    &__timer {
        color: rgb(255, 74, 104);
        font-size: 50px;
    } 

    &__start {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        background: rgb(255, 255, 255);
        border-radius: 15px;
        box-shadow: 0px 8px 12px 2px #1d1d1d79;
        
        button {
            background: rgb(255, 74, 104);
            color: white;
            font-size: 30px;
            border: none;
            box-shadow: 0px 8px 8px 2px #1d1d1d79;
            border-radius:  10px;
        }
        &__header {
            color: rgb(255, 74, 104);
        }
  
    }
    .hideStart {
        display: none;
    }

    &__board {
        
        margin: 0 auto;
        background: rgb(255, 74, 104);
        max-width: 560px;
        width: 80vw;
        max-height: 500px;
        border-radius: 5px;

        .card {
            margin: auto;
            max-height: 100px;
            max-width: 100px;
            width: 16vw;
            height: 12vh;
            margin: 10px auto;
            box-shadow: 0px 4px 2px 0px #1d1d1d79;
            
            &:hover {
                cursor: pointer;
                
            }
        }

        
        .photo0 {
            background: url('https://images.unsplash.com/photo-1548247416-ec66f4900b2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=663&q=80');
            background-size: cover;
        }
        .photo1 {
            background: url('https://images.unsplash.com/photo-1537151608828-ea2b11777ee8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=639&q=80');
            background-size: cover;
        }
        .photo2 {
            background: url('https://images.unsplash.com/photo-1491604612772-6853927639ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
            background-size: cover;
        }
        .photo3 {
            background: url('https://images.unsplash.com/photo-1523626797181-8c5ae80d40c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80');
            background-size: cover;
        }
        .photo4 {
            background: url('https://images.unsplash.com/photo-1558788353-f76d92427f16?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=678&q=80');
            background-size: cover;
        }
        .photo5 {
            background: url('https://images.unsplash.com/photo-1503256207526-0d5d80fa2f47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=633&q=80');
            background-size: cover;
        }
        .photo6 {
            background: url('https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1027&q=80');
            background-size: cover;
        }
        .photo7 {
            background: url('https://images.unsplash.com/photo-1548366086-7f1b76106622?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=624&q=80');
            background-size: cover;
        }
        .photo8 {
            background: url('https://images.unsplash.com/photo-1519052537078-e6302a4968d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
            background-size: cover;
        }
        .photo9 {
            background: url('https://images.unsplash.com/photo-1513245543132-31f507417b26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80');
            background-size: cover;
            
        }
        .flip {
            background: rgb(247, 255, 247);
            transform: rotateY(0deg);
            transition: 0.4s;  
            &:hover {
                box-shadow: 0px 0px 8px 2px rgb(255, 255, 255); 
            }
        }
        .active {
            transform: rotateY(180deg);
            transition: 0.7s;
        }
    }
    .boardActive {
        box-shadow: 0px 8px 12px 2px #1d1d1d79;
    }
}